absl-py
astor
attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
gast
grpcio
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
mock
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pbr
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scipy
seaborn
Send2Trash
six
tensorboard
tensorflow
tensorflow-estimator
tensorflow-tensorboard
termcolor
terminado
testpath
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
